.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  font-family: Inter, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 72vh;
  padding: 120px 6% 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/bg_shade.svg');
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

.container.space-below {
  margin-bottom: 100px;
}

.content-wrap {
  position: relative;
  max-width: 590px;
}

.heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  color: #00416f;
  font-size: 55px;
  line-height: 1;
  letter-spacing: -0.5px;
}

.paragraph {
  max-width: 490px;
  color: #546681;
  font-size: 17px;
  line-height: 1.3;
  font-style: normal;
}

.paragraph.paragraph-centre-white {
  max-width: 570px;
  color: #fff;
  text-align: center;
}

.button {
  margin-right: 15px;
  padding: 18px 35px;
  border-radius: 45px;
  background-color: #459ebd;
  font-size: 16px;
}

.button.button-space {
  margin-top: 25px;
}

.service-card-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.footer-title {
  display: inline-block;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #0a1f44;
  font-size: 18px;
  font-weight: 600;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-column-large {
  width: 60%;
}

.footer-icon {
  margin-right: 10px;
}

.footer-logo {
  width: 200px;
  margin-bottom: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer {
  padding: 100px 5% 20px;
  background-color: #f2f6f8;
}

.footer-text-02 {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.footer-link {
  margin-bottom: 15px;
  margin-left: 1px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #4e5d78;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.footer-link:hover {
  color: #459ebd;
}

.footer-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.column {
  width: 33%;
  padding: 10px;
}

.service-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 60px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 14px 14px 200px 0 rgba(0, 22, 50, 0.06);
}

.card-content-wrap {
  margin-bottom: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #6b539a;
  text-align: center;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 8px;
  color: #00416f;
  text-align: left;
}

.paragraph-2 {
  max-width: 320px;
  color: #2f4858;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  text-align: left;
}

.hero-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding-left: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-block-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding: 25px 55px 25px 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-content {
  padding: 100px 5% 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  background-image: url('../images/bg_shade.svg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.service-icon {
  width: 70px;
  margin-bottom: 25px;
}

.column-wrap-reversed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 140px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.title {
  max-width: 500px;
  margin-bottom: 15px;
  font-family: Inter, sans-serif;
  color: #459ebd;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.heading-primary {
  max-width: 500px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #00416f;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary.h3-centre {
  max-width: 700px;
  text-align: center;
}

.heading-primary.h3-centre-white {
  max-width: 700px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 46px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.button-wrap-hero {
  margin-top: 35px;
}

.link {
  color: #546681;
  font-size: 16px;
  text-decoration: none;
}

.link:hover {
  color: #459ebd;
}

.section-logo {
  padding: 15px 5%;
  background-color: #fff;
}

.full-logo-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  padding: 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.light-logo {
  width: 130px;
}

.column-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.phone-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #546681;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.dropdown-list-wrap {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  padding: 15px 12px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 9px 0 rgba(44, 62, 80, 0.1);
}

.link-block {
  text-decoration: none;
}

.navigation-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #546681;
  font-size: 16px;
  text-decoration: none;
}

.navigation-link:hover {
  color: #459ebd;
}

.navigation-block-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-block-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-list {
  background-color: transparent;
}

.dropdown-list.w--open {
  z-index: 7;
  min-width: 460px;
  padding-top: 15px;
  border-radius: 15px;
}

.dropdown-list.dropdown-smaller {
  left: -30px;
  min-width: 360px;
}

.logo-image {
  width: 200px;
  padding-top: 6px;
  -o-object-fit: cover;
  object-fit: cover;
}

.dropdown-mobile {
  display: none;
}

.navigation-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-text {
  width: 100%;
  text-decoration: none;
}

.phone-image {
  display: block;
  margin-right: 8px;
  text-align: center;
}

.container-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.phone-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.mobile-button-link {
  display: none;
}

.arrow-down {
  margin-right: 7px;
  margin-left: 8px;
}

.navigation {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9;
  min-height: 100px;
  padding: 25px 5%;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.08);
}

.title-wrap-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.dropdown-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.feature-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 12px 15px 10px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
}

.feature-wrap:hover {
  background-color: rgba(72, 77, 255, 0.03);
}

.feature-icon {
  width: 26px;
  margin-right: 16px;
}

.feature-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.short-title {
  margin-bottom: 2px;
  color: #2e3642;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.paragraph-small {
  max-width: 450px;
  margin-bottom: 0px;
  color: #3b4c5b;
  font-size: 14px;
  letter-spacing: -0.2px;
}

.hero-image-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding: 30px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-block-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding: 25px 25px 25px 55px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-slider {
  height: 100%;
  background-color: transparent;
}

.slider-arrow-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

.icon-3 {
  color: #4c4172;
}

.slider-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 45px;
  margin-right: 15px;
  padding: 15px 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 1px 1px 45px 0 rgba(0, 22, 50, 0.1);
}

.testimonial-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding: 25px 25px 25px 55px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-nav {
  display: none;
}

.slider-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  padding: 20px 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 1px 1px 55px 0 rgba(0, 22, 50, 0.08);
}

.testimonial-content-block {
  position: relative;
  max-width: 590px;
}

.arrow {
  width: 28px;
}

.left-arrow {
  position: absolute;
  left: auto;
  top: auto;
  right: 40%;
  bottom: 0%;
  display: none;
}

.testimonial-image-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding: 60px 85px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.author-name {
  margin-top: 0px;
  color: #546681;
  font-size: 17px;
  font-weight: 700;
}

.arrow-disabled {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  padding: 20px 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
}

.right-arrow {
  left: auto;
  top: auto;
  right: 35%;
  bottom: 0%;
  display: none;
}

.testimonial-paragraph {
  color: #546681;
  font-size: 18px;
  line-height: 1.4;
  font-style: normal;
  font-weight: 400;
}

.logo {
  width: 110px;
  margin-bottom: 6px;
}

.quote-image {
  position: absolute;
  left: -15px;
  top: -25px;
  min-width: 70px;
}

.testimonial-author-wrap {
  margin-top: 45px;
}

.text-span {
  color: #459ebd;
}

.button-default {
  padding: 18px 35px;
  border-radius: 50px;
  background-color: #459ebd;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 16px;
}

.button-default:hover {
  background-color: #343af0;
}

.new-tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8px;
  padding: 4px 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgba(45, 202, 115, 0.1);
  color: #2dca73;
  font-size: 12px;
}

.title-wrap-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paragraph-hero {
  max-width: 490px;
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  color: #2f4858;
  font-size: 17px;
  line-height: 1.4;
  font-style: normal;
}

.content-block-hero {
  position: relative;
  max-width: 590px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.button-navigation {
  margin-right: 15px;
  padding: 18px 35px;
  border-radius: 50px;
  background-color: #459ebd;
  font-size: 16px;
}

.title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.section-statistics {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f7ff;
}

.footer-text {
  max-width: 320px;
  margin-bottom: 25px;
  color: #546681;
  font-size: 17px;
  line-height: 1.4;
  text-align: left;
}

.legal-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1240px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.legal-text {
  color: rgba(47, 72, 88, 0.6);
  font-size: 16px;
}

.social-link-wrap {
  display: none;
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  padding: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fbdee3;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.circle-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 250px;
  max-width: 250px;
  min-height: 250px;
  min-width: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1000px;
  background-color: #fff;
  box-shadow: 7px 7px 150px 0 rgba(84, 102, 129, 0.08);
}

.statistic-circle-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.title-capped {
  color: #546681;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.counterup {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #459ebd;
  font-size: 52px;
  line-height: 52px;
}

.flowbase-close-card {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 13px 10px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.43;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  cursor: pointer;
}

.flowbase-close-card:hover {
  opacity: 1;
}

.flowbase-home-link {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.flowbase-title {
  margin-bottom: 4px;
  font-family: Circularstd;
  color: #5b3acc;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.25px;
}

.flowbase-author {
  display: inline-block;
  color: #9b9eb8;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.3px;
  text-decoration: none;
}

.flowbase-left-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flowbase-title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  margin-right: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flowbase-card-wrap {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 99999;
  min-width: 520px;
  margin-bottom: 30px;
  margin-left: 30px;
  border-radius: 200px;
  background-color: #fff;
  box-shadow: 8px 1px 20px 0 rgba(128, 124, 142, 0.15);
}

.flowbase-underline {
  text-decoration: underline;
}

.flowbase-icon-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 200px;
  background-color: #7020ff;
}

.text-span-2 {
  color: #5b3acc;
}

.arrow-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-number-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.section-content-plain {
  min-height: 500px;
  padding: 120px 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.blog-article-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.blog-card {
  overflow: hidden;
  width: 100%;
  margin-right: 0px;
  padding: 15px 16px 35px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 14px 14px 40px 0 rgba(118, 126, 173, 0.08);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.blog-card:hover {
  box-shadow: 14px 14px 40px 0 rgba(118, 126, 173, 0.12);
  -webkit-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
}

.blog-placeholder-image {
  width: 100%;
  min-height: 220px;
  border-radius: 14px;
  background-image: url('../images/unsplash_img_03.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.blog-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 140px;
  padding-top: 15px;
  padding-right: 4px;
  padding-left: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.category-tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding: 12px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #e9f9f0;
}

.category-title {
  color: #38cb89;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.blog-content {
  margin-bottom: 25px;
}

.section-blog {
  min-height: 500px;
  padding: 120px 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  background-image: url('../images/bg_shade.svg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-testimoinals {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f7ff;
}

.arrow-image-mobile {
  display: none;
}

.arrow-image-mobile-02 {
  display: none;
}

.section-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 145px 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #001632;
  background-image: url('../images/producer-dark-image.jpg');
  background-position: 50% 60%;
  background-size: cover;
}

.feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  padding-right: 60px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content-icon {
  width: 40px;
  margin-right: 15px;
}

.content-title {
  margin-top: 7px;
  margin-bottom: 15px;
  color: #459ebd;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.blog-placeholder-image-03 {
  width: 100%;
  min-height: 220px;
  border-radius: 14px;
  background-image: url('../images/unsplash_img_02.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.blog-placeholder-image-02 {
  width: 100%;
  min-height: 220px;
  border-radius: 14px;
  background-image: url('../images/unsplash_img.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.container-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

.link-02 {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.link-02:hover {
  color: hsla(0, 0%, 100%, 0.58);
}

.clone-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 250px;
  min-height: 50px;
  min-width: 150px;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #7020ff;
  background-image: linear-gradient(159deg, #7020ff, #7b41f1);
  box-shadow: inset -1px -1px 3px 0 rgba(32, 27, 61, 0.6), inset 1px 1px 3px 0 rgba(238, 230, 255, 0.44), 1px 1px 2px 0 #5b3acc;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.clone-button:hover {
  box-shadow: inset 1px 1px 3px 0 rgba(32, 27, 61, 0.22), inset -1px -1px 3px 0 rgba(238, 230, 255, 0), 1px 1px 2px 0 #5b3acc;
}

.text-span-3 {
  color: #5b3acc;
}

.hero-image {
  max-width: 110%;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.remove-before-use {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99;
  display: none;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(46, 54, 66, 0.93);
}

.flowbase-card-delete {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 40px;
  padding: 15px 40px 15px 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-3 {
  max-width: 520px;
  font-family: Poppins, sans-serif;
  color: #2f4858;
  font-size: 16px;
  font-weight: 400;
}

.bold-text {
  font-family: Inter, sans-serif;
}

.paragraph-4 {
  color: #2f4858;
  font-size: 16px;
  font-weight: 500;
}

.heading-4 {
  margin-bottom: 20px;
  color: #001632;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 40px;
  color: #00416f;
  font-size: 55px;
  line-height: 60px;
  text-align: center;
}

.feature-section {
  padding-top: 20px;
  padding-bottom: 100px;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 14px 14px 200px 0 rgba(0, 22, 50, 0.06);
  mix-blend-mode: normal;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  width: 100%;
  height: 0%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.section {
  margin-top: 60px;
  background-color: #f0f7ff;
}

.div-block {
  margin-top: 0px;
  padding-top: 80px;
  background-color: #fff;
}

.heading-6 {
  margin-top: 0px;
  color: #2f4858;
  font-size: 24px;
  font-weight: 400;
}

.text-block {
  margin-bottom: 10px;
  font-size: 16px;
}

.div-block-2 {
  max-width: 800px;
}

.paragraph-5 {
  max-width: 1200px;
}

.image {
  margin-right: 60px;
  border-radius: 200px;
}

.contact-form {
  padding-top: 0px;
  padding-bottom: 100px;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-field {
  border-radius: 8px;
}

.text-field-2 {
  border-radius: 8px;
}

.text-field-3 {
  border-radius: 8px;
}

.text-field-4 {
  border-radius: 8px;
}

.textarea {
  border-radius: 8px;
}

.submit-button {
  margin-top: 20px;
  padding: 18px 35px;
  border-radius: 245px;
  background-color: #459ebd;
  font-size: 16px;
}

.contact-form-2 {
  min-width: 860px;
  padding-top: 20px;
  padding-bottom: 100px;
}

.select-field {
  padding-right: 12px;
  border-radius: 8px;
  background-color: #fff;
}

.text-field-5 {
  border-radius: 8px;
}

.text-field-6 {
  border-radius: 8px;
}

.text-field-7 {
  border-radius: 8px;
}

.text-field-8 {
  border-radius: 8px;
}

.text-field-9 {
  border-radius: 8px;
}

.text-field-10 {
  border-radius: 8px;
}

.textarea-2 {
  border-radius: 8px;
}

.submit-button-2 {
  margin-top: 20px;
  padding: 12px 32px;
  border-radius: 60px;
  background-color: #459ebd;
}

.checkbox-field {
  margin-top: 20px;
}

.success-message {
  border-radius: 12px;
  background-color: #e6e6e6;
}

.error-message {
  border-radius: 12px;
}

.below-fold-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 6%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.heading-7 {
  margin-bottom: 20px;
  color: #00416f;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

.heading-8 {
  margin-top: 0px;
  font-size: 40px;
  line-height: 35px;
  font-weight: 300;
}

.paragraph-6 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.bold-text-2 {
  padding-left: 10px;
}

.bold-text-3 {
  color: #00416f;
}

.bold-text-4 {
  color: #00416f;
}

.bold-text-5 {
  color: #00416f;
}

.paragraph-7 {
  color: #152128;
}

.paragraph-8 {
  color: #152128;
}

.paragraph-9 {
  color: #152128;
}

.body {
  font-family: Poppins, sans-serif;
}

@media screen and (max-width: 991px) {
  .header {
    padding-top: 160px;
  }

  .container.space-below {
    margin-bottom: 80px;
  }

  .content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .heading {
    text-align: center;
  }

  .footer-column {
    width: 20%;
  }

  .footer-column-large {
    width: 40%;
  }

  .column {
    width: 100%;
  }

  .hero-block {
    width: 100%;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .image-block {
    width: 100%;
    min-height: auto;
    margin-bottom: 35px;
  }

  .content-block-left {
    width: 100%;
    padding-right: 25px;
  }

  .section-content {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .column-wrap-reversed {
    margin-bottom: 80px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .column-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .dropdown-link {
    width: 100%;
    min-width: 170px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    color: #3b4c5b;
    font-size: 16px;
  }

  .dropdown-link:hover {
    background-color: rgba(115, 167, 213, 0.09);
  }

  .dropdown-link.w--current {
    color: #ff6f20;
  }

  .navigation-block-right {
    width: 100%;
  }

  .dropdown-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 15px;
  }

  .navigation-link-wrap {
    display: none;
  }

  .dropdown-toggle {
    padding: 0px;
  }

  .container-navigation {
    position: relative;
    z-index: 99;
  }

  .mobile-button-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 55px;
    height: 55px;
    padding: 17px;
    border-radius: 50px;
    background-color: rgba(84, 102, 129, 0.08);
  }

  .mobiel-dropdown {
    right: 10%;
  }

  .mobiel-dropdown.w--open {
    min-width: 270px;
    margin-top: 74px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 3px 0 rgba(84, 102, 129, 0.13);
  }

  .feature-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-icon {
    margin-bottom: 15px;
  }

  .hero-image-wrap {
    width: 100%;
    min-height: auto;
  }

  .content-block-right {
    width: 100%;
    padding-left: 25px;
  }

  .testimonial-image-block {
    padding: 30px;
  }

  .hero-content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .paragraph-hero {
    text-align: center;
  }

  .content-block-hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .statistic-circle-wrap {
    width: 100%;
  }

  .flowbase-card-wrap {
    display: block;
    max-width: 610px;
    min-width: auto;
    margin-right: 15px;
  }

  .arrow-image {
    display: none;
  }

  .arrow-wrap {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .feature-number-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .blog-card {
    padding: 20px 20px 35px;
  }

  .section-blog {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .arrow-image-mobile {
    position: relative;
    left: 55px;
    display: block;
  }

  .arrow-image-mobile-02 {
    position: relative;
    left: -55px;
    display: block;
  }

  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .content-icon {
    margin-bottom: 15px;
  }

  .container-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .paragraph-3 {
    text-align: center;
  }

  .below-fold-section {
    display: block;
  }

  .heading-7 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 60px;
    padding-left: 0%;
  }

  .container {
    margin-left: 0px;
  }

  .footer-column {
    width: 50%;
  }

  .footer-column-large {
    width: 50%;
    margin-bottom: 25px;
  }

  .section-content {
    padding-right: 3%;
    padding-left: 3%;
  }

  .section-logo {
    padding-top: 20px;
  }

  .full-logo-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .logo-wrap {
    width: 100%;
    margin-bottom: 15px;
  }

  .navigation-link-wrap {
    display: none;
  }

  .phone-wrap {
    display: none;
  }

  .content-block-right {
    padding: 10px;
  }

  .testimonial-content-wrap {
    width: 100%;
    padding-left: 25px;
  }

  .testimonial-image-block {
    width: 100%;
  }

  .testimonial-columns-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .logo {
    width: 130px;
  }

  .button-navigation {
    display: none;
  }

  .flowbase-card-wrap {
    min-width: auto;
    margin-left: 15px;
  }

  .blog-card {
    width: 100%;
    margin-bottom: 35px;
  }

  .section-blog {
    padding-right: 3%;
    padding-left: 3%;
  }

  .clone-button.w--current {
    text-align: center;
  }

  .flowbase-card-delete {
    display: none;
  }

  .feature-section {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }

  .contact-form {
    padding: 40px 20px;
  }

  .contact-form-grid {
    display: block;
    max-width: 500px;
  }

  .contact-form-2 {
    min-width: auto;
    margin-left: 40px;
    padding: 0px 20px 40px 0px;
  }

  .form-block {
    display: block;
  }

  .form {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .header {
    padding-top: 40px;
    padding-left: 6%;
  }

  .heading {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: 32px;
    text-align: left;
  }

  .button {
    margin-right: 0px;
    margin-bottom: 15px;
    padding: 12px 20px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .footer-column {
    width: 100%;
  }

  .footer-column-large {
    width: 100%;
  }

  .image-block {
    padding: 8px;
  }

  .section-content {
    padding-top: 40px;
  }

  .column-wrap-reversed {
    margin-bottom: 0px;
  }

  .button-wrap-hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navigation-block-left {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .logo-image {
    padding-top: 0px;
  }

  .container-navigation {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .phone-wrap {
    display: none;
  }

  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero-image-wrap {
    padding: 10px;
  }

  .testimonial-content-wrap {
    padding: 15px;
  }

  .testimonial-image-block {
    padding: 15px;
  }

  .paragraph-hero {
    margin-bottom: 0px;
    font-size: 16px;
    text-align: left;
  }

  .flowbase-close-card {
    top: 0px;
    right: 0px;
    bottom: auto;
  }

  .flowbase-title-wrap {
    width: 100%;
    padding-left: 4px;
  }

  .flowbase-card-wrap {
    min-width: auto;
    margin-right: 5px;
    margin-left: 5px;
  }

  .flowbase-icon-wrap {
    min-width: 60px;
  }

  .arrow-wrap {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .blog-card {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .hero-image {
    padding-right: 0px;
    padding-left: 0px;
  }

  .flowbase-card-delete {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .paragraph-3 {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    text-align: center;
  }

  .bold-text {
    text-align: left;
  }

  .image {
    margin-bottom: 20px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .contact-form-grid {
    display: block;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-flow: row;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .contact-form-2 {
    margin-left: 20px;
    padding-left: 0px;
  }

  .container-2 {
    display: block;
  }

  .heading-7 {
    font-size: 30px;
    line-height: 30px;
  }

  .heading-8 {
    font-size: 20px;
    line-height: 20px;
  }

  .form-block {
    max-width: 300px;
  }
}

#w-node-_9993c6ca-550b-8774-2486-b093120bb95c-11855475 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-fabdac5f-db39-606c-d09d-39e5bbcca10f-11855475 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4989f008-4247-33b8-c103-6dbd4fe1ad30-11855475 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-aea1e9fd-72c3-29ef-f2df-2edfb99e8b45-11855475 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 479px) {
  #w-node-aea1e9fd-72c3-29ef-f2df-2edfb99e8b3d-11855475 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-aea1e9fd-72c3-29ef-f2df-2edfb99e8b41-11855475 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-aea1e9fd-72c3-29ef-f2df-2edfb99e8b35-11855475 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-aea1e9fd-72c3-29ef-f2df-2edfb99e8b39-11855475 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}